#first {
    width: 200px;
    height: 200px;
    background: linear-gradient(to top, #fefcea, #f1da36);
    float: left;
    border: solid 1px black;
    border-radius: 20px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-top-style: greenyellow border-top-color: yellow;
    box-shadow: 0px -15px 25px #c9c12c;
    margin: 20px 20px;
}

#second {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    background: linear-gradient(to left, #0f7000, #93de85);
    border-radius: 20px;
    border: dotted 1px black;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-right-width: 3px;
    border-right-color: linear-gradient(to top, #fefcea, #f1da36);
    float: left;
    box-shadow: 30px 2px 35px #93de85;
}

#text {
    color: black;
    text-align: center;
    margin-top: 60px;
}